
.btn{
    display: inline-block;
    padding: 15px 20px;
    &-light{
        background: $light-color;
        color: $dark-color;
    }
    &-dark{
        background: $dark-color;
        color: $light-color;
    }
}

.l-heading{
    font-size: 2rem;
    padding: 5px;
    position: relative;
    display: inline-block;
    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 50%;
        height: 3px;
        transform: translateX(50%);
        background: $primary-color;
    }
}

.container {
    max-width: 960px;
    margin: auto;
}


@mixin display-flex(){
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin display-grid(){
    display: -ms-grid;
    display: grid;
}


@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
